@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url('http://fonts.googleapis.com/css?family=Montserrat');

body {
    color: white;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: "5";
    border-color: #83a1b5;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-style: normal;
    font-size: 3em;
    font-weight: 500;
    padding-top: 40;
    padding-left: 5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-style: italic;
    font-size: 18pt;
    font-weight: 300;
    padding: 5;
}    

h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-style: normal;
    font-size: 20pt;
    font-weight: 300;
    padding: 5;
}       

#muonimg {
    width: auto;
    height: 500px;
}

#hubsan {
    width: auto;
    height: 400px;
}

#mpau {
    width: auto;
    height:400px;
    /*float: right;*/
}

#group {
    width: auto;
    height: 400px;
    /*float: left;*/
}
use bootstrap to organize padding and etc
