@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url('http://fonts.googleapis.com/css?family=Montserrat');

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-style: normal;
    font-size: 3em;
    font-weight: 500;
    padding-top: 40;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-style: italic;
    font-size: 15pt;
    font-weight: 300;
    padding: 5;
    padding-top: 20
}    

h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-style: normal;
    font-size: 15pt;
    font-weight: 300;
    padding: 5;
}       

#muonimg {
    width: auto;
    height: 500px;
}

#hubsan {
    width: auto;
    height: 400px;
}

#mpau {
    width: auto;
    height: 400px;
    float: right;
}

#group {
    width: auto;
    height: 400px;
    float: left;
}
use bootstrap to organize padding and etc
